body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  background-color: rgb(7, 7, 7);
  font-family: "Lucida Sans";
  font-size: 1rem;
}
 
nav, ul, section, footer {
  background-color: rgb(78, 64, 64);;
}

body, p, a, a:visited, li, li a {
  color: rgb(228, 200, 187);
}

section{
  padding: 10px;
  margin-bottom: 20px;
}
  
h1 {
  font-size: 3em;
  text-align: center;
  color: rgb(137, 111, 99);
}
  
p {
  padding: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}
  
  
img {
  padding-left: 10px;
  width: 20%;
  vertical-align: middle;
}
  
a {
  text-decoration: none;
}
  
a:hover {
  border-style: groove;
  border-radius: 10px; 
  text-decoration: underline; 
  cursor: pointer;
}
  
  
.box{
  border-style: groove;
  border-radius: 10px;
  width: 80vw;
  max-width: 1000px;
}
  
  
.nav_links li{
  padding: 0px 20px;
}

.nav_links{
    list-style: none;
}

nav.box{
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  }

li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav{
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}


header{
  color: darkgrey; 
}

form {
  display: flex;
  flex-direction: column;
  
}

.checkbox{
  display: flex;
}

textarea {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  font-size: 1em;
  resize: none;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}


@media screen and (max-width: 496px) {
  img {
    width: 80%;
  }

  li {
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
  }

 .box {
  border-style: groove;
 }

  ul {
    display: flex;
    flex-direction: column;

}

  a:hover{
    border-style: none;
    border-radius: none;
    background-color: none;
    text-decoration: none;
}

  li a {
    padding: 0px 0px;
}

  a{
    background: none;
}

body {
  font-family: "Lucida Sans";
}

  
}

